@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a:visited {
  color: inherti;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}
/* 共通部分 */
html {
  font-size: 62.5%;
}

body {
  font-size: 12px;
  line-height: 1.67;
  min-width: 1260px;
  overflow-x: hidden;
}

.inner {
  width: 80%;
  margin: 0 auto;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.title::after {
  display: inline-block;
  content: "";
  width: 9rem;
  border-top: 1px solid #707070;
  margin-left: 2.4rem;
}

header {
  width: 100%;
  height: 38px;
  line-height: 38px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-top: 5%;
  margin-left: 6%;
  font-family: Roboto Mono for Powerline;
}

header nav {
  width: 30%;
  padding-left: 20px;
  font-size: 1.8rem;
  color: #707070;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  font-size: 3.8rem;
  font-family: Roboto Mono for Powerline;
}

#first-view {
  width: 100%;
  height: 800px;
  background-image: url("/img/Blond woman with long curly beautiful hair.png");
  background-position: right;
  background-repeat: no-repeat;
}

.message {
  height: 100px;
  padding-top: 290px;
}

.message h2 {
  font-size: 3.8rem;
  font-family: ヒラギノ明朝 Pro;
  line-height: 3.8rem;
  margin-left: 4%;
}

.message p {
  font-size: 3.8rem;
  font-family: Zapfino;
  padding-top: 50px;
  line-height: 12.8rem;
}

#concept {
  padding-top: 290px;
  background: -webkit-gradient(linear, left top, left bottom, from(#A193861F), color-stop(50%, #A193861F), color-stop(50%, #A1938689), to(#A1938689));
  background: linear-gradient(180deg, #A193861F 0%, #A193861F 50%, #A1938689 50%, #A1938689 100%);
}

.concept-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.img-1 {
  width: 60%;
}

.img-2 {
  width: 37%;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 70px 0 65px;
  color: #fff;
}

.text h2 {
  width: 36%;
  margin-top: 10px;
  font-size: 4rem;
  font-family: ヒラギノ明朝 Pro;
}

.text p {
  width: 40%;
  font-size: 1.6rem;
  font-family: ヒラギノ角ゴ Pro;
}

#menu {
  padding-top: 290px;
}

.menu-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-item {
  width: 271px;
  text-align: center;
  font-family: Roboto Mono for Powerline;
}

.menu-item-title {
  font-size: 3rem;
  padding: 37px 0 34px;
}

.menu-item-desc {
  font-size: 1.6rem;
  text-align: left;
}

.menu-price {
  padding: 34px 0 90px;
  text-align: right;
}

#access {
  width: 100%;
  padding-top: 15%;
  background-color: #A193861F;
  position: relative;
}

.google-map {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  background-color: #D0C5BA;
}

.google-map iframe {
  left: 40%;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.access-desc {
  width: 30%;
}

.access-desc h2 {
  font-size: 2.4rem;
  color: #00000038;
  padding-bottom: 20px;
}

.access-desc p {
  font-size: 1.6rem;
  color: #fff;
  line-height: 3.5rem;
}

footer {
  font-family: Roboto Mono for Powerline;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 80px 0 60px;
}

.line {
  margin-top: 165px;
  color: #70707036;
}

.footer-title {
  font-size: 3.2rem;
  color: #7070704D;
  padding-right: 20px;
}

.icon {
  margin: auto 0;
}

.size {
  font-size: 2rem;
}

.fab {
  margin-right: 9px;
}

.footer-btn {
  width: 20%;
  color: #707070;
  border-color: #707070;
  background-color: #fff;
  margin-left: auto;
}
/*# sourceMappingURL=main.css.map */