#access{
    width: 100%;
    height: 760px;
    padding-top:260px;
    background-color:#A193861F;
}



.access-desc{

    h2{
        font-size: 2.4rem;
        color:#00000038;
        padding-bottom:20px;
    }

    p{
        font-size: 1.6rem;
        color:#fff;
    line-height: 3.5rem;
    }
}