#access{
    width: 100%;
    padding-top:15%;
    background-color:#A193861F;
    display: flex;
}

.access-wrap{
    display: flex;
    background-color: #D0C5BA;
    margin: 0 calc(50% - 50vw);
    padding:0 calc(50vw - 50%);
}

.access-desc{

    h2{
        font-size: 2.4rem;
        color:#00000038;
        padding-bottom:20px;
    }

    p{
        font-size: 1.6rem;
        color:#fff;
        line-height: 3.5rem;
    }
}

.google-map-wrap{
    width: 100%;
}