#access{
    width: 100%;
    padding-top:15%;
    background-color:#A193861F;
    position: relative;
}

.google-map{
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position:relative;
    background-color: #D0C5BA;

    iframe{
        left: 40%;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}

.access-desc{
    width: 30%;
    h2{
        font-size: 2.4rem;
        color:#00000038;
        padding-bottom:20px;
    }

    p{
        font-size: 1.6rem;
        color:#fff;
        line-height: 3.5rem;
    }
}


