#concept{
    background:linear-gradient(180deg, #A193861F 0%, #A193861F 50%, #A1938689 50%, #A1938689 100%);
}

.concept-wrap{
        
    h2{
        width: 450px;
        margin:90px 6px 130px 170px;
        font-size: 40px;
        line-height: 42px;
        font-family: ヒラギノ明朝 Pro;
        color:#fff;
    }

    p{
        height:130px;
        width: 420px;
        margin: 90px 180px 60px 0;
        font-family: ヒラギノ角ゴ Pro;
        font-size: 16px;
        color:#fff;
    }
}

.concept-img{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top:290px;
}

.img-1{
    padding-right:11px;
}

.text{
    display: flex;
}