.inner{
    position:relative;
}

.title{
    position: absolute;
    top:260px;
    left:100px;
    font-family: Roboto;

    &::after{
        display: inline-block;
        content:"";
        width: 100px;
        margin: 5px 22px;
        border-top:1px solid #707070;
    }
}
.concept-wrap{
    background:linear-gradient(180deg, #A193861F 0%, #A193861F 50%, #A1938689 50%, #A1938689 100%);
    
    
    h2{
        width: 450px;
        margin:90px 6px 130px 170px;
        font-size: 40px;
        line-height: 42px;
        font-family: ヒラギノ明朝 Pro;
        color:#fff;
    }

    p{
        width: 420px;
        margin: 90px 180px 60px 0;
        font-family: ヒラギノ角ゴ Pro;
        font-size: 16px;
        color:#fff;
    }
}

.concept-img{
    display: flex;
    justify-content: center;
    padding-top:290px;
}

.img-1{
    padding-right:11px;
}

.text{
    display: flex;
}