#concept{
    padding-top:290px;
    background:linear-gradient(180deg,#A193861F 0%,#A193861F 50%,#A1938689 50%, #A1938689 100%);
}


.concept-img{
    width: 100%;
    height:400px;
    display: flex;
   justify-content: space-between;
}

.text{
    display: flex;
    justify-content: space-around;
    padding:70px 0 65px;
    color:#fff;
    h2{
        width:36%;
        margin-top:10px;
        font-size: 4rem;
        font-family: ヒラギノ明朝 Pro;
    }

    p{
        width: 40%;
        font-size: 1.6rem;
        font-family: ヒラギノ角ゴ Pro;
    }
}