
.first-v-wrap{
    height:800px;
    text-align: right;
}

.message{
    position:absolute;
    top:300px;
    left:160px;
    color:black;
    transform: translate(-10%);
   
    h2{
        width: 320px;
        height:38px;
        font-size:38px;
        line-height: 38px;
        font-family: ヒラギノ明朝 Pro;
    }

    h3{
      width: 390px;
      height:125px;
      line-height: 125px;
      text-align: left;
      padding-top:50px;
      font-size:38px;
      font-family:Zapfino;
    }
}