#first-view{
    width: 100%;
    height:800px;
    background-image:url("/img/Blond\ woman\ with\ long\ curly\ beautiful\ hair.png");
    background-position: right;
    background-size:800px auto ;
    background-repeat: no-repeat;
}

.message{
    
    height: 100px;
    padding-top:290px;

    h2{
        font-size: 3.8rem;
        font-family: ヒラギノ明朝 Pro;
        line-height: 3.8rem;
        margin-left:4%;
    }

    p{
        font-size: 3.8rem;
        font-family: Zapfino;
        padding-top:50px;
        line-height: 12.8rem;
        
    }
}