header{
    display:flex;
    position: absolute;
    top:65px;
    left:70px;
}

.header-logo{
    line-height:38px;
    font-size:38px;
}

.header-nav{
    width: 380px;
    height:40px;
    margin:7px 0 21px;
    ul{
        padding-left: 20px;
        font-size:18px;
        display: flex;
        justify-content: space-between;
    }

    ul li:nth-of-type(1){
        display: block;
        content:"";
        width: 48px;
        border-bottom:1px solid #000;
    }
}