header{
    width: 100%;
    height:38px;
    line-height: 38px;
    position: absolute;
    display: flex;
    justify-content: start;
    margin-top: 5%;
    margin-left: 6%;
    font-family:Roboto Mono for Powerline ;

    nav{
        width: 40%;
        padding-left: 20px;
        font-size: 1.8rem;
        color:#707070;

        ul{
            display: flex;
            justify-content: space-between;
            
        }
    }
}


.header-logo{
    font-size: 3.8rem;
    font-family: Roboto Mono for Powerline;
}