
/* 共通部分 */
html{
    font-size: 62.5%; //10px=1remになる
}

body{
    font-size:12px;
    line-height:1.67;
    min-width: 1260px;
    overflow-x: hidden;
}

.inner{
    width: 80%;
    margin:0 auto;
}

.title{
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: Roboto;
    font-size: 1.8rem;
    margin-bottom:1rem;


    &::after{
        display: inline-block;
        content:"";
        width: 9rem;
        border-top:1px solid #707070;
        margin-left:2.4rem
    }
}